body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: orange; /* Hintergrundfarbe auf Orange gesetzt */
    padding: 50px;
    font-size: 18px; /* Schriftgröße für den Body auf 18px gesetzt */
    color: black; /* Standardfarbe für Text auf Schwarz gesetzt */
}

h1 {
    font-size: 30px; /* Schriftgröße für H1 auf 30px gesetzt */
    color: black; /* H1 Textfarbe ebenfalls auf Schwarz gesetzt */
}

.welcome-text {
    font-size: 24px; /* Spezifischere Schriftgröße für den Willkommen-Text */
    color: black; /* Textfarbe auf Schwarz gesetzt */
}

p {
    font-size: 12px; /* Schriftgröße für p auf 12px gesetzt */
    color: black; /* p Textfarbe auf Schwarz gesetzt */
}
